@font-face{
	font-family: 'mclauren';
	src: url(../fonts/mclaren/mclauren.ttf);
}

@font-face{
	font-family: 'simple-print';
	src: url(../fonts/simple-print/simple.ttf);
}

@font-face{
	font-family: 'unica';
	src: url(../fonts/unica-one/unica.ttf);
}
